<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
	<h1>[[ ${title} ]]</h1>
	<div th:if="!${success}">
	</div>
	<div th:if="${success}">
		<h2>商品名</h2>
		<p>[[ ${item.name} ]]</p>
		<h2>画像</h2>
		<p><img class="item" th:src="@{/images/{image} (image=${item.image})}"></p>
		<h2>カテゴリ</h2>
		<p>[[ ${item.category.name} ]]</p>
		<h2>価格</h2>
		<p>[[ ${item.price} ]]円</p>
		<h2>説明</h2>
		<p>[[ ${item.description} ]]</p>
		<p><a href="/">トップに戻る</a></p>
	</div>
</div>
</html>